zmodule romkatv/powerlevel10k

zmodule environment
zmodule input
zmodule termtitle
zmodule utility

zmodule skywind3000/z.lua
zmodule peterhurford/up.zsh -s up.plugin.zsh
zmodule trapd00r/LS_COLORS -s lscolors.sh

zmodule zsh-users/zsh-completions -f src
zmodule completion
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions
